{% extends "finaidbd/layout.html" %}

{% block body %}
    <div class="contin">
        <h2>Login</h2>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input autofocus class="form-control mx-auto w-auto" type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" type="password" name="password" placeholder="Password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
{% endblock %}
